
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link rel="stylesheet" href="static/css/custom.css" />
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>

<center>

<h3> Error detecting face </h3> <br>
<h4> Please submit another image with your face showing clearly </h4>



</center>
</body>
</html>
