<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>

<center>


<p>

<h2>Your clothing items</h2>
  <img src="{{url_for('static', filename=input_img_file)}}" width=200 />
  <!-- <img src="http://localhost/temp.jpg" alt="Image" width=250> -->
</p>
<br><br>


<p>
<h2>May we suggest...</h2>
<h4>{{output_cat_text}}</h4> <br>
{% for(output_product_url, output_image_url) in product_urls %}
<a href="{{ output_product_url }}">
  <img src="{{ output_image_url }}" alt="Image" width=140 >
</a>
{% endfor %}

<br><br>
<br><br>


</p>
</center>
</body>
</html>
